<div class="app-container">
<mat-toolbar>
  <h3>NASA OPEN API</h3>
  <span class="example-fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" > 
    <span class="material-icons" >
      more_vert
      </span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = "navigateTo('/neosw')">NEOSW</button>
    <button mat-menu-item (click) = "navigateTo('/apod')">APOD</button>
    <button mat-menu-item (click) = "navigateTo('/curiosity')">CURIOSITY</button>
  </mat-menu>
</mat-toolbar>
  <main class="app-body">
      <router-outlet></router-outlet>
      <footer>
       <a mat-raised-button href="https://www.pratikdhore.tech" class="center"> &copy; DrPratik</a>
      </footer>
  </main>
</div>